<div class="container">
<div class="row">
	<div class="col">
		<div class="card" style="width: 100%;">
		  <div class="card-body">
		    <h5 class="card-title">General Notes</h5>
		    <div class="card-text">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
				eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 
				enim ad minim veniam, quis nostrud exercitation ullamco laboris 
				nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
				in reprehenderit in voluptate velit esse cillum dolore eu fugiat
				nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
				sunt in culpa qui officia deserunt mollit anim id est laborum.
	    	</div>
	  		</div>
		</div>
	</div>
	<div class="col">
		<div class="card" style="width: 100%;">
		  <div class="card-body">
		    <h5 class="card-title">Tasks</h5>
		    <h6 class="card-subtitle mb-2 text-muted">Todays Date</h6>
			    <div class="card-text">
			    	&#9744;{{taskTitle}}<br>
					&#9744;This is a task.<br>
					&#9745;This is another task.<br>
					&#9745;This is a task with the date <b>1/22/20</b><br>
					&#9744;This is a task that has not been completed.<br>
					&#9745;This is a task that has been completed.<br>
					&#9744;This is a task with a priority marker.<b>!!!</b><br>
		    	</div>
	  		</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
		<div class="card" style="width: 100%;">
		  <div class="card-body">
		    <h5 class="card-title">Add Task</h5>
			    <div class="card-text">
			    	&#9744;{{taskTitle}}<br>
					&#9744;This is a task.<br>
					&#9745;This is another task.<br>
					&#9745;This is a task with the date <b>1/22/20</b><br>
					&#9744;This is a task that has not been completed.<br>
					&#9745;This is a task that has been completed.<br>
					&#9744;This is a task with a priority marker.<b>!!!</b><br>
		    	</div>
	  		</div>
		</div>
	</div>
	</div>
</div>
</div>